#  .envrc -*- mode: direnv-envrc -*-
# See https://direnv.net/
# export VAR=VAL
# PATH_add val

# venv location
export UV_PROJECT_ENVIRONMENT="$PWD/.temp/venv"
[[ -d "$UV_PROJECT_ENVIRONMENT" ]] && source "$UV_PROJECT_ENVIRONMENT/bin/activate"
# For repo-local tasks
PATH_add "$PWD/.tasks"
PATH_add "$PWD/.polyglot"

# user local
PATH_add "$HOME/.local/bin"

# asdf
PATH_add "$ASDF_DATA_DIR/shims"
asdf reshim

# # For JVM setup
# source "$SDKMAN_DIR/bin/sdkman-init.sh"
# sdk env > /dev/null


# h : h : h+o+o+o
export LIBRARIAN_HANDLERS=""
